.game-container {
  text-align: center;
  background-color: #22577a;
  height: 100vh;
}

.header {
  margin: 0 auto;
  padding-top: 30px;
  color: white;
}

.header h1 {
  margin-top: 0;
  color: #57cc99;
}

.header p {
  font-size: 20px;
}

.game {
  display: flex;
  justify-content: center;
}

.figure {
  fill: transparent;
  stroke: #57cc99;
  stroke-width: 4px;
  stroke-linecap: round;
}
.word-container {
  width: 450px;
}

.word {
  display: flex;
  margin-top: 60px;
  font-size: 32px;
  font-weight: 700;
  color: #57cc99;
}

.wrong-letters {
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
}

.wrong-letters span {
  background-color: #57cc99;
  color: #22577a;
  font-size: 24px;
  font-weight: 700;
  border-radius: 50px;
  width: 34px;
  height: 34px;
  margin: 4px;
}

.letter {
  border-bottom: 3px solid #57cc99;
  display: inline-flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 50px;
  width: 20px;
}

.notification {
  padding: 15px 20px;
  bottom: -50px;
  transition: transform 0.3s ease-in-out;
  border-radius: 5px;
  background-color: #57cc99;
  margin-top: 10px;
  padding: 6px;
  font-size: 20px;
  font-weight: 700;
}

.notification p {
  margin: 0;
  color: #22577a;
  text-align: center;
}

.popup-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 6px;
}

.popup {
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #57cc99;
}

.popup p {
  margin: 0;
  color: #22577a;
  font-weight: 700;
  font-size: 18px;
}

button {
  margin-top: 12px;
  padding: 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: #57cc99;
  background-color: #18557d;
  font-size: 14px;
  font-weight: 700;
}
